{% extends "inicio.html" %}
{% load static %}

{% block titulo_peliculas %}
    <title>Buscar Peliculas</title>
{% endblock titulo_peliculas %}


{% block buscar_peliculas %}
    <div class="contenedor-elementos">
        <h2>Buscador de películas</h2>
        <img class='logo-seccion' src={% static "img\buscarpelicula.png" %} alt="">

        <form class='form-buscador' action={% url 'buscador_peliculas' %} method='get'>
            {% csrf_token %}
        
            
            {{buscador.as_p}}
        
            <br>
            <input class='form-button' type="submit" placeholder='Buscar'>
        
        </form>

    </div>

        <div class="contenedor-resultados">
            {% if peliculas_buscadas %}

                {% if  peliculas_encontradas %}
                    <ul class='lista-elementos'>
                    <p class='titulo-resultados'>Resultados Obtenidos ({{cant_resultados}})</p>
                {% for pelicula in peliculas_encontradas %}
                <li>{{pelicula}}</li>
                {% endfor %}
                    </ul>
                    <a class='boton-custom' href={% url 'buscador_peliculas' %}>Limpiar resultados</a>
                {% else %}
                    <p>La búsqueda no ha arrojado resultados!</p>
                {% endif %}

            {% else %}
            <p>Aún no se ha efectuado una búsqueda.</p>
            {% endif %}
        </div>




{% endblock buscar_peliculas %}
